---
import { getCollection } from 'astro:content';
import { siteConfig } from '../config/site-config';
import MainLayout from '../layouts/Layout.astro';
import TypedBlogPost from '../components/TypedBlogPost.astro';

const blogPosts = await getCollection('blog');
---

<MainLayout title="programming blog">
    <h1 class="text-xl text-white">
        {siteConfig.title}
    </h1>
    <div class="grid gird-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {blogPosts.map((post) => <TypedBlogPost post={ post}/>)}
    </div>
</MainLayout>
